body
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*background: radial-gradient(#DADBBD, #B5FE83, #6EBF8B );*/
    background: linear-gradient(#DADBBD, #B5FE83, #6EBF8B);
}
h1
{
    font-size: 3rem;
    text-decoration:dotted;
    color: #6EBF8B;
    box-shadow: #DADBBD;
    font-weight: bold;
}

.container
{
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    border: #6EBF8B solid 2px;
    border-radius: 15%;
    background-color: bisque;
    text-align: center;
}
button
{
    height: 50px;
    width: 100px;
    font-size: 1rem;
    font-weight: bold;
    background: linear-gradient(#B5FE83, #6EBF8B );
    border-radius: 20px;
    border: 3px solid whitesmoke;
    margin: 3px;
    padding: 5px;
}